<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        Created at
      </th>
      <th>
        Status
      </th>
    </tr>
  </thead>
  <tbody>
  <% @csv_processings.each do |csv| %>
    <tr>
      <td>
        <%= link_to csv.created_at, edit_csv_processing_path(csv.id) %>
      </td>
      <td>
        <%= csv.status %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>